/* .bg{
    background-image: url(./Components/assets/img/bg-masthead.jpg);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100% ;
  
  } */